# Enforce checkout with linux lf consistent over all plattforms
.htaccess text eol=lf
*.cfg text eol=lf
*.dist text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.properties text eol=lf
*.rst text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.tpl text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

/.ddev                          export-ignore
/.editorconfig                  export-ignore
/.env                           export-ignore
/.gitattributes                 export-ignore
/.github                        export-ignore
/.gitignore                     export-ignore
/.project                       export-ignore
/.php-cs-fixer.php              export-ignore
/phpstan.neon                   export-ignore
/phpstan-baseline.neon          export-ignore
/rector.php                     export-ignore
/typoscript-lint.yml            export-ignore
/Resources/Private/frontendSrc  export-ignore
/Tests/                         export-ignore
/config                         export-ignore

.project/data/db.sql.gz filter=lfs diff=lfs merge=lfs -text
