parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php

		-
			message: '#^Cannot access offset ''assetsAvailable'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php

		-
			message: '#^Cannot access offset ''data'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php

		-
			message: '#^Cannot access offset ''uid'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php

		-
			message: '#^Method StarterTeam\\StarterNessa\\DataProcessing\\AssetsOfCategoriesProcessor\:\:getRecords\(\) should return array\<int, array\{uid\: int, title\: string, categoryUid\: int\}\> but returns list\<array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php

		-
			message: '#^Parameter \#1 \$array of static method TYPO3\\CMS\\Core\\Utility\\ArrayUtility\:\:getValueByPath\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/DataProcessing/AssetsOfCategoriesProcessor.php
