.section-title {
    padding-bottom: 40px;

    h1,
    h2,
    h3 {
        padding: 0;
        margin: 0 0 10px;
        font-family: $headings-font-family;
        font-size: 2rem;
        font-weight: 500;
    }

    p {
        margin: 0;
        color: $subline-color;
        font-family: Poppins, sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1px;
        letter-spacing: 2px;

        &::after {
            content: '';
            display: inline-block;
            width: 120px;
            height: 1px;
            margin: 4px 10px;
            background: map-get($theme-colors, 'primary');
        }
    }
}
