<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

	<f:render partial="Header" arguments="{_all}"/>

	<f:cObject typoscriptObjectPath="lib.starterDynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />

	<main class="c-site__main">
		<f:comment>
			## Rendert den Seiteninhalt
		</f:comment>
		<f:render section="SiteContent"/>

	</main>

	<footer class="o-site-footer">
		<f:comment>
			## Rendert einen dynamischen Footer, welcher im Backend gepflegt und vererbt wird
		</f:comment>
		<f:cObject typoscriptObjectPath="lib.starterDynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '2'}" />
	</footer>

	<a href="#" id="js-back-to-top" class="o-back-to-top">
		<i class="icofont-simple-up"></i>
	</a>

</html>
