<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Cta"/>

<f:section name="Main">

		<div class="col-lg-9 text-center text-lg-left">
			<f:if condition="{data.header}">
				<h3>{data.header}</h3>
			</f:if>

			<p>{data.bodytext}</p>
		</div>

		<div class="col-lg-3 cta-btn-container text-center">
			<f:render
				partial="Cta/Button"
				arguments="{ctaLink: data.nessa_ctalink, ctaButtonText: data.nessa_ctalink_text, ctaButtonClass: 'o-btn-cta'}"/>
		</div>

</f:section>

</html>
