<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

    <f:if condition="{data.bodytext}">
        <div class="row content">
            <div class="col">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </div>
    </f:if>

    <f:if condition="{files}">
        <div class="row content pt-4 js-portfolio-file-collections">
            <f:for each="{files}" as="file" iteration="fileIterator">
                <f:render partial="Portfolio/FileCollectionItem" arguments="{file: file}" />
            </f:for>
        </div>
    </f:if>

</f:section>

</html>
