<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="TeaserBackground"/>

<f:section name="Main">

	<f:for each="{teasers}" as="teaser">
		<div class="{data.frame_class} d-flex align-items-stretch mt-4">

			<f:if condition="{teaser.data.link}">
				<f:then>
					<f:link.typolink parameter="{teaser.data.link}" title="{teaser.data.link_text}">
						<f:render partial="Teaser/ItemBackground" arguments="{item: teaser}"/>
					</f:link.typolink>
				</f:then>
				<f:else>
					<f:render partial="Teaser/ItemBackground" arguments="{item: teaser}"/>
				</f:else>
			</f:if>

		</div>
	</f:for>

</f:section>

</html>
