<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

	<f:variable name="orderings" value="{text: 'order-1 order-lg-2 mt-3', media: 'order-2 order-lg-1'}"/>
	<f:if condition="{gallery.position.horizontal} == right">
		<f:variable name="orderings" value="{text: 'order-2 order-lg-1 mt-5', media: 'order-1 order-lg-2'}"/>
	</f:if>

	<div class="row content">

		<div class="col-lg-6 {orderings.text} mt-lg-0">
			<f:if condition="{data.bodytext}">
				<f:format.html>{data.bodytext}</f:format.html>
			</f:if>

			<f:render partial="Cta/Button" arguments="{ctaLink: data.tx_starter_ctalink, ctaButtonText: data.tx_starter_ctalink_text}"/>
		</div>

		<div class="col-lg-6 {orderings.media} text-center">
			<f:for each="{gallery.rows}" as="row">
					<f:for each="{row.columns}" as="column">
						<f:if condition="{column.media}">
								<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
						</f:if>
					</f:for>
			</f:for>
		</div>

	</div>

</f:section>

</html>
